/*********** Globals ***********/

html,body { /* mehrere Selectorne */
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
}

.box {
    height: 10vh;
    width: 10vh;
    background-color: deepskyblue;
}
