/*********** Globals ***********/

html,body { /* mehrere Selectorne */
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    height: 30vh;
    width: 20vh;
    background-color: orange;
    position: relative;
}



.box {
    height: 15vh;
    width: 15vh;
    background-color: deepskyblue;
    position: absolute;
    bottom: 0;
    transition-property: all;
    transition-duration: 0.5s;
}

.container:hover .box {
    bottom: 5vh;
    animation-name: name;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-property: all;
    transition-duration: 2s;
    
    
}

@keyframes name {
    0% {}
    100% {background-color: cyan;}
    
}
